body{
    background-image: url(https://i.pinimg.com/564x/6c/24/13/6c2413df1a2b410654984550b3062149.jpg);
    font-family: 'MedievalSharp', serif;
}

h1{
    text-align: center;
    color: rgb(1, 0, 2);
}

header{
    background-color: rgb(37, 34, 34);
}

 a{
    color: bisque;
    
 }


/*css de la quiz*/

 .custom-container {
    font-family: 'MedievalSharp', serif;
    margin-right: 30px;
    margin-left: 30px;
    background-color: ;
}

.custom-question-container {
    background-color: rgb(189, 169, 143);
    color: rgb(0, 0, 0);
}

