body{
    background-image: url(https://i.pinimg.com/564x/6c/24/13/6c2413df1a2b410654984550b3062149.jpg);
    font-family: 'MedievalSharp', serif;
}

h1{
    text-align: center;
    color: rgb(69, 38, 82);
}

header{
    background-color: rgb(37, 34, 34);
}
 a{
    color: bisque;
    
 }

 footer{
    background-color: rgb(37, 34, 34);

 }

